extends layout 

block content 
  h1 #{title}: #{category.name}

  if itemsInCategory.length
    p #[strong You need to remove these items before deleting this category :]
    ul.list-group
      each item in itemsInCategory 
        li.list-group-item.list-group-item-action
          a(href=item.url) #{item.name}
  else
    p #[strong Are you sure you want to delete this category? (This action cannot be undone)]
    form(method='POST', action='')
      div.form-group
        input#categoryid.form-control(type='hidden' name='categoryid' required='true' value=category._id)
      button.btn.btn-danger(type='submit') Delete