extends layout 

block content 
  h1 #{title}: #{category.name} 
  div
    button.btn.btn-warning 
      a.text-white.link-underline.link-underline-opacity-0(href=category.url+'/update') Update category 
    button.btn.btn-danger
      a.text-white.link-underline.link-underline-opacity-0(href=category.url+'/delete') Delete category
  
  div(class="container text-center")
    div(class="row")
      each item in itemsInCategory
        div(class="col-sm d-flex flex-column" style="max-width: 350px;")
          img(src=item.image, class='img-thumbnail', alt='')
          a(href=item.url) #[strong #{item.name}]
          p #{item.price} €
          if (item.number_in_stock <= 0)
            p(class='text-danger') Out of stock

      else
        p No item found.