extends layout 

block content
  h1= title

  div.d-flex.flex-column.flex-lg-row(style='gap: 24px;')
    img.img-thumbnail(src=item_detail.image, alt='', style='max-width: 400px;')
    div
      h2= item_detail.name
      if (item_detail.description !== '')
        p= item_detail.description
      else
        p There is no description
      p #[strong Category:] #{item_detail.category.name}

      h2 #{item_detail.price} €

      div
        if (item_detail.number_in_stock > 0)
          button(class='btn btn-primary btn-lg') Add to cart
          div(class='text-warning') Only #{item_detail.number_in_stock} in stock!
        else
          button(class='btn btn-outline-danger btn-lg', disabled) Add to cart
          div(class='text-danger') Out of stock

  hr
  div.d-flex.flex-column(style='width:fit-content; gap: 16px;')
    button.btn.btn-warning
      a.text-white.link-underline.link-underline-opacity-0(href=item_detail.url+'/update') Update item 
    button.btn.btn-danger
      a.text-white.link-underline.link-underline-opacity-0(href=item_detail.url+'/delete') Delete item
  